# ==================================================
# SISTEMA OPERATIVO
# ==================================================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ==================================================
# EDITORES / IDE
# ==================================================
.vscode/
.idea/
*.suo
*.user

# ==================================================
# PYTHON
# ==================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ==================================================
# Entornos virtuales
# ==================================================
venv/
env/
.venv
.env

# ==================================================
# LOGS Y TEMPORALES
# ==================================================
*.log
*.tmp
*.temp
*.bak
*.old
*.stackdump

# ==================================================
# BINARIOS / COMPILACIÓN
# ==================================================
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.dylib
*.elf
*.lib

# ==================================================
# ARCHIVOS GRANDES
# ==================================================
*.zip
*.rar
*.7z
*.tar
*.gz
*.img

# ==================================================
# RESULTADOS DE EXPERIMENTOS (IA)
# ==================================================
datasets/
models/
outputs/
logs/
resultados_pruebas/
Proyecto/resultados_pruebas/
# ==================================================
# MODELOS DE IAs
# ==================================================
*.pt
*.pth
*.h5
*.ckpt
*.onnx
*.pb

data/
dataset/
models/
checkpoints/
datasets/
# ==================================================
# BUILD / DISTRIBUCIÓN
# ==================================================
bin/
build/
dist/
output/
*/output/

# ==================================================
# OTROS
# ==================================================
.tmp_versions/
Module.symvers



# ===============================
# IA / MACHINE LEARNING
# ===============================
runs/
results/
wandb/
mlruns/


# ===============================
# IA / MACHINE LEARNING con pygame
# ===============================
# Python
# __pycache__/    
*.py[cod]
# *.pyo
# *.pyd
.Python

# Entornos virtuales
venv/
venv_BFS/
env/
.env
.venv

# IDEs
.vscode/
.idea/
*.suo
*.user

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Logs y temporales
*.log
*.tmp